/*Universal Browser settings*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*general tags*/
main{
    width: 100%;
    height: 500px;
    border: 10px solid gray;
    padding: 20px 35px; /*top-bottom px left-right px*/
}

h1{
    color: hotpink;
    font-family: serif;
    margin-bottom: 10px;
}

/* Classes*/
.title{
    font-size: 18px;
    font-family: monospace; /*this won't be applied because #page-title has higher priority*/
}
.blog{
    background-color: aqua; /*this won't be applied because #main-nav .blog has higher priority*/
}
/* IDs */
#page-title{
    font-family: Arial, Helvetica, sans-serif;
}
#main-nav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

/* Elements */
#main-nav li{
    display: inline-block;
}
#main-nav a{
    color: white;
    background-color: violet;
}

#main-nav .blog{
    background-color: teal;
}
